@use "../../utils/functions/"as*;
@use "../../utils/mixins/"as*;

.choose {
  padding-bottom: rem(80);

  .intro {
    line-height: 1.36;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    gap: 24px;
  }

  &__element {
    position: relative;
    display: flex;
    align-items: flex-end;
    min-height: 300px;
    height: 100%;
    padding: 20px;
    border-radius: var(--radius-medium);
    overflow: hidden;

    &:last-of-type {
      grid-column: span 2;
      min-height: 307px;

      .choose__content {
        width: 49%;
      }
    }
  }

  &__img {
    position: absolute;
    inset: 0;
    z-index: -1
  }

  &__content {
    width: 70%;
    padding: 24px;
    background-color: var(--color-gray-100);
    border-radius: var(--radius-medium);
  }

  &--vertical {
    h2 {
      margin-bottom: rem(32);
    }

    .choose__items {
      margin-bottom: rem(32);
    }

    .choose__item {
      &--odd {
        grid-row: span 2;

        .choose__element {
          min-height: 560px;
        }

        h3 {
          font-size: clamp(22px, 2rem + 1vi, 32px);
        }
      }
    }

    .choose__element {
      min-height: 268px;
      border-radius: var(--radius-large);
      padding-bottom: 16px;
      padding-left: 32px;
    }

    .choose__link {
      position: relative;
      width: 75%;
    }

    h3 {
      font-size: clamp(20px, 1.5vw ,24px);
      line-height: 1.4;
      color: var(--color-white);
    }

    .btn {
      display: block;
      width: fit-content;
      margin-inline: auto;
    }
  }
}