@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.policy {
  h1 {
    margin-bottom: 24px;
    color: var(--color-orange-500);
  }

  h2 {
    color: var(--color-purple-600);
    font-size: clamp(22px, 2rem + 1vi, 32px);
  }

  & > *:not(:last-child) {
    margin-bottom: 32px;
  }

  ul {
    padding-left: 32px;
  }

  li {
    list-style: disc;
  }

  a {
    color: var(--color-orange-500);
    text-decoration: underline;
  }
}